<p>
  <div class='title'>
  <img src="<%=asset_path("allevi.svg")%>" height="250" width="250" />
  </div>
</p>

<p class='normal-yellow-font'>Your password is...</p>

<div class='payload spoiler notranslate' id='pass' translate='no'>
<%=@payload%>
</div>

<button class='copy-to-clipboard' data-clipboard-target='#pass' id='clipboard-button'>
Copy to Clipboard
</button>

<p>
<% if @password.views_remaining == 0 %>
    This secret link will be deleted in <span class='normal-yellow-font'><%=pluralize(@password.days_remaining, 'day')%></span>
     or <span class='normal-yellow-font'>0 more views</span> (this is the last view).
<% else %>
    This secret link will be deleted in <span class='normal-yellow-font'><%=pluralize(@password.days_remaining, 'day')%></span>
     or <span class='normal-yellow-font'><%=pluralize(@password.views_remaining, 'more view')%></span> (whichever occurs first).
<% end %>
</p>

<% if @password.deletable_by_viewer %>
    <p style='font-size: .85em;'>
    <a id="<%=@password.url_token%>"
    data-confirm="This will expire this secret link and remove the password from the database forever. Are you sure?"
    rel="nofollow" data-method="delete"
    href="<%=password_path%>">Delete this secret link now.</a>
    </p>
<% end %>
